@page "/studentlist"


<h3>StudentList</h3>

@if(students != null)
{
    <ol>
        @foreach(var std in students)
        {
            <li>@std.FirstName</li>
        }
    </ol>
}

@code {

    private List<Student> students;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        using StudentContext db = new();
        students = db.Students.ToList();

    }
}
